<!-- Contact -->
<div class="contact--form">

  <form action="https://formspree.io/thepeoplesgame442@gmail.com" method="POST">
    <div class="">
          <!-- Name -->
      <div class="">
        <fieldset>
          <input type="text" id="name" placeholder="Name" name="name">
        </fieldset>
      </div>
          <!-- Email -->
      <div class="">
        <fieldset>
          <input type="email" id="email" placeholder="Email" name="_replyto">
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
    </fieldset>
        <!-- Button -->
    <div class="">
      <button type="submit" class="">Submit</button>
    </div>
  </form>
</div>
