<footer class="bg-black ph3 pv4 white">
	<div class="grid">
		<div class="container">
			<div class="wrapper">
				<div class="home-info">
					<ul class="">
						<li>
							<a href="/">
								<svg width="200" height="40" viewBox="0 0 300 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g class="pre--title__svg">
										<text x="-32" y="60" font-family="Delirium" font-size="55">the</text>
									</g>
									<g class="main--title__svg">
										<text x="6" y="96" font-family="Delirium" font-size="108">PE<tspan class="main--title__svg--op">O</tspan>PL<tspan class="main--title__svg--apostrophe">E</tspan>'S GA<tspan class="main--title__svg--me">M</tspan>E</text>
									</g>
								</svg>
							</a>
						</li>
						<li>
							<div class="b-l-r">
								<a class="no--underline black--text" target="_blank" href="https://www.linkedin.com/in/el-khazaani/">Website designed by Karim El Khazaani</a>
								<p>&copy Copyright {{ now.Format "2006"}}</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="site-nav">
					<ul class="border--left">
						<li>
							<a href="/articles" class="link">Articles</a>
						</li>
						<li>
							<a href="/photos" class="link">Photos</a>
						</li>
						<li>
							<a href="/events" class="link">Events</a>
						</li>
					</ul>
				</div>

				<div class="about-contact">
					<ul class="border--left">
						<li>
							<a href="/about" class="link">About Us</a>
						</li>
						<li>
							<a href="/contact" class="link">Contact</a>
						</li>
						<li>
							{{ partial "social-icon" (dict "link" "#") }}
						</li>						
					</ul>
				</div>
			</div>
		</div>
	</div>

</footer>
<script src="/app.js"></script>

</body>

</html>