<nav>
	<div class="grid">
		<div class="container">
			<!-- Primary Nav -->
			<div class="nav--container">
				<div class="navbar">
					<ul>
						<li class="one">
							<a href="/articles" class="no-underline">Articles</a>
						</li>
						<li class="two">
							<div class="center--block">
									<a href="/photos" class="no-underline">Photos</a>
							</div>
						</li>
						<li class="three">
							<div class="right--block">
									<a href="/events" class="no-underline">Events</a>
							</div>
						</li>
						<hr>
					</ul>
				</div>
				<!-- Logo -->
				{{ partial "logo" . }}
			</div>
		</div>
	</div>
</nav>