<nav>
	<div class="grid">
		<div class="container">
			<!-- Primary Nav -->
			<div class="nav--container">
				<div class="navbar">
					<ul>
						<li>
							<a href="/post" class="no-underline">Articles</a>
						</li>
	
						<li>
							<div class="center--block">
									<a href="/values" class="pa3 no-underline db">Photos</a>
							</div>
						</li>
	
						<li>
							<div class="right--block">
									<a href="/post" class="pa3 no-underline db">Events</a>

							</div>
						</li>
					</ul>
				</div>
				<!-- Logo -->
				<div class="logo">
					<a href="/" class="">

						<svg width="386" height="80" viewBox="0 0 386 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g class="pre--title__svg">
								<text x="2" y="36" font-family="serif" font-size="45">the</text>
							</g>
							<g class="main--title__svg">
								<text x="52" y="55" style="" font-family="Oswald" font-size="64">PE<tspan class="main--title__svg--op">O</tspan>PL<tspan class="main--title__svg--apostrophe">E</tspan>'S GA<tspan class="main--title__svg--me">M</tspan>E</text>
							</g>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>