<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="">
		<div class="logo">
			<svg width="400" height="80"
				viewBox="0 0 400 80" version="1.1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink">
				<g class="pre--title__svg" >
					<text x="2"  y="36" font-family="Rozha One" font-size="45">the</text>
				</g>
				<g class="main--title__svg">
					<text x="64"  y="55" style="" font-family="Oswald" font-size="64">PE<tspan class="main--title__svg--op">O</tspan>PL<tspan class="main--title__svg--apostrophe">E</tspan>'S GA<tspan class="main--title__svg--me">M</tspan>E</text>
				</g>
			</svg>
		</div>
	</a>

	<!-- Primary Nav -->
	<div class="primary--nav">
		<ul>
			<li><a href="/products" class="pa3 no-underline db">Products</a></li>
	
			<li><a href="/values" class="pa3 no-underline db">Values</a></li>
	
			<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
	
			<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
		</ul>
	</div>
</nav>
