<a href="{{ .Permalink }}" class="no--underline black--text">
	<div class="article--card--header">
		<h2 class="article--card--title title">{{ .Title }}</h2>
	</div>
	<!-- <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p> -->
	<div class="article--card--content">
			<div class="article--card--image--container">
					<img src="{{ .Params.Image }}" alt="{{ .Params.Image }}">
			</div>
			<div class="snippet">
					<p>{{ .Description }}</p>
					<p class="read--article">Read more…</p>
			</div>
	</div>

</a>