<a href="{{ .Permalink }}" class="no--underline black--text">
    <div class="photo--card--content">
            <div class="photo--card--header">
                    <h2 class="title">{{ .Title }}</h2>
                </div>
        <div class="photo--card--summary subtitle">
            <p class="snippet">{{ .Description }}</p>
        </div>
        <div class="photo--card--image--container">
                {{ range $el := first 3 .Params.Photos }}
                <div class="photo--card--image--item">
                    <img src="{{ $el.image }} " alt="{{ $el.alt }}">
                </div>
                {{ end }}


        </div>
    </div>

</a>