<a href="{{ .Permalink }}" class="no--underline black--text">
    <div class="photo--card--content">
            <div class="photo--card--header">
                    <h2 class="title">{{ .Title }}</h2>
                </div>
        <div class="photo--card--summary subtitle">
            <p class="subtitle">{{ .Description }}</p>
        </div>
        <div class="photo--card--image--container">
            <div class="photo--card--image--item">
                <img src="{{ .Params.Image_1.Image }}" alt="{{ .Params.Image_1.Alt }}">
            </div>

            <div class="photo--card--image--item">
                <img src="{{ .Params.Image_2.Image }}" alt="{{ .Params.Image_2.Alt }}">
            </div>

            <div class="photo--card--image--item">
                <img src="{{ .Params.Image_3.Image }}" alt="{{ .Params.Image_3.Alt }}">
            </div>
        </div>
    </div>

</a>