/* _-_-_- base/BASE -_-_-_ */
@charset 'utf-8';

.clearfix {
  overflow: auto;
  zoom: 1;
}

// TYPOGRAPHY

@font-face {
  font-family: "Delirium";
  src: url("/fonts/delirium.ttf");
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1.3rem;
}


// HELPERS
.no--underline {
  text-decoration: none;
}

.black--text {
  color: black;
}

.title {
  font-size: 16pt;
  margin-top: 8px;
  margin-bottom: 8px;
}

.snippet {
  font-size: 12pt;
  margin-top: 8px;
  margin-bottom: 8px;
}

.more {
  font-size: 12pt;
}

.list--inline {
  display: inline-flex;
}

.center--block {
  @include center-block();
  width: fit-content;
}

.right--block {
  width: fit-content;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: black;
}