.title {
    font-size: 14pt;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .single--title {
    font-size: 16pt;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .single--header {
    font-size: 12pt;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .single--snippet {
    font-size: 12pt;
    margin-top: 32px;
    margin-bottom: 32px;
  }