/* _-_-_- pages/CONTACT -_-_-_ */

.contact--content {
    margin: 64px 0;
    font-size: 12pt;
    line-height: 2rem;
    text-align: center;
}

.contact--form {
    margin: 32px 0;
    form {
        @include center-block();
        width: 80%;
    }

    fieldset {
        border: none;
        margin: 8px 0;
        width: 100%;
    }
    textarea {
        width: 100%;
        padding-top: 8px;
        border: 1px solid lightgray;
        text-indent: 8px;
    }
    input {
        height: 24px;
        width: 100%;
        border: 1px solid lightgray;
        text-indent: 8px;

    }

    button {
        padding: 8px;
    }
}