.event--list {
    img {
        width: 100%;
    }
}

.grid--3--col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
}

@media screen and (min-width: 1000px) {
    .grid--3--col {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 32px;

    }
}

.facebook-event {
    margin: 32px 0;
}