.event--list {
    img {
        width: 100%;

    }
}

.grid--3--col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item item item";
    grid-gap: 32px;

    .list-item {
        grid-area: item;
    }
}
