.list--item {
    margin: 16px 0;
}

.item--content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header image";
    grid-gap: 24px;
    .item--header {
        grid-area: header;
    }
    .item--image--container {
        grid-area: image;
        img {
            width: 100%;
        }
    }
    .item--summary {
        border-left: 2px solid firebrick;
        font-size: 15pt;
        padding-left: 8px;
    }
    .item--description {
        margin: 40px 0;
        line-height: 1.5rem;
    }
}