// PAGES/PHOTOS

.photo--image--box {
    margin: 32px 0;
    transition: all 0.2s ease-in;

    &:hover {
        box-shadow: 0 6px 4px 4px lightgrey;
    }
}

.photo--image--description {
    padding: 8px 16px 16px 16px;
}
