<a href="{{ .Permalink }}" class="no--underline black--text">
   {{ $t := (time .Params.EventDate) }}
     {{ if($t.Before now) }}
    <div class="event--card" style="opacity:0.5;">
            {{ else }}
            <div class="event--card">
        {{ end }}

            <div class="">
                    <img src="{{ .Params.Image }}" alt="{{ .Params.Image }}">
            </div>
            <h2 class="title">{{ .Title }}</h2>
            <div class="snippet">
                        <p>{{ $t.Format "2 Jan 2006" }} </p>
                        <p>{{ .Params.Location }} </p>
            </div>
    </div>
</a>