/* _-_-_- layout/FOOTER -_-_-_ */
footer {
    margin: 16px 0;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;

    .container {
        .wrapper {
            border-top: 2px solid black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-top: 16px;
            grid-gap: 16px;
        }
    }

    li {
        margin: 8px 0;
    }

    svg {
        margin-right: 8px;
        width: 24px;
        transform: translate3d(0,2px,0);
    }
}