/* _-_-_- layout/GRIDS -_-_-_ */

$column--width: 1000px;
$column--narrow--width: 600px;


.grid {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-areas: ". content .";

    .container {
        grid-area: content;
    }

}

.narrow--grid {
    display: grid;
    grid-template-columns:  16px 1fr 16px;
    grid-template-areas: ". content .";

    .container {
        grid-area: content;
    }

}

@media screen and (min-width: $column--width) {
    .grid {
        display: grid;
        grid-template-columns: 1fr $column--width 1fr;
        grid-template-areas: ". content .";
    
        .container {
            grid-area: content;
        }
    
    }

    .narrow--grid {
        display: grid;
        grid-template-columns: 1fr $column--narrow--width 1fr;
        grid-template-areas: ". content .";
    
        .container {
            grid-area: content;
        }
    
    }
}

.list--item {
    margin: 16px 0;
}

.item--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                         "header";
    grid-gap: 24px;
    .item--header {
        grid-area: header;
    }
    .item--image--container {
        grid-area: image;
        img {
            width: 100%;
        }
    }
    .item--summary {
        border-left: 2px solid firebrick;
        font-size: 15pt;
        padding-left: 8px;
    }
    .item--description {
        margin: 40px 0;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .item--content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header image";
        grid-gap: 24px;
    }
}



