/* _-_-_- layout/GRIDS -_-_-_ */

$column--width: 1000px;
$column--narrow--width: 600px;


.grid {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-areas: ". content .";

    .container {
        grid-area: content;
    }

}

@media screen and (min-width: $column--width) {
    .grid {
        display: grid;
        grid-template-columns: 1fr $column--width 1fr;
        grid-template-areas: ". content .";
    
        .container {
            grid-area: content;
        }
    
    }

    .narrow--grid {
        display: grid;
        grid-template-columns: 1fr $column--narrow--width 1fr;
        grid-template-areas: ". content .";
    
        .container {
            grid-area: content;
        }
    
    }
}




