/* _-_-_- layout/NAVIGATION -_-_-_ */

nav {
    margin-top: 16px;
    margin-bottom: 8px;
    .logo { 
        grid-area: logo;
        margin-left: auto;
        svg{
            width: 100%;
        }
    }

    .nav--container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'navbar . logo';
        grid-gap: 16px;
        border-bottom: 2px solid black;
        .navbar {
            grid-area: navbar;
            position: relative;
            margin-bottom: 8px;
        }
    }

    ul {
        position: absolute;
        bottom: 0px;
        display: inline-flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        li {
            a {
                font-size: 14pt;
                text-decoration: none;
                color: black;
                font-family: Helvetica, sans-serif;
                font-weight: bold;
            }
        }
    }
}