/* _-_-_- layout/NAVIGATION -_-_-_ */

nav {
    margin-top: 16px;
    margin-bottom: 8px;
    .logo {
        grid-area: logo;
        margin-left: auto;
        svg {
            width: 100%;
        }
    }
    .nav--container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'logo' 'navbar';
        border-bottom: 2px solid black;
        height: 140px;
        .navbar {
            grid-area: navbar;
            position: relative;
        }
    }
    @media screen and (min-width: $column--width) {
        .nav--container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 'navbar . logo';
            grid-gap: 16px;
            border-bottom: 2px solid black;
            height: fit-content;
        }
    }
    ul {
        position: absolute;
        bottom: 0px;
        display: inline-flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "one two three" "hr hr hr";
        width: 100%;
        li {
            a {
                font-size: 14pt;
                text-decoration: none;
                color: black;
                font-family: Helvetica, sans-serif;
                font-weight: bold;
            }
        }
        .one {
            grid-area: one;
        }
        .two {
            grid-area: two;
        }
        .three {
            grid-area: three;
        }
    }
    @media screen and (max-width: $column--width) {
        ul {
            text-align: center;
        }
        .right--block {
            margin-right: auto;
        }
    }
}

.one:hover~hr {
    margin-left: 0%;
    visibility: visible;
}

.two:hover~hr {
    margin-left: 39%;
    visibility: visible;
}

.three:hover~hr {
    margin-left: 80%;
    visibility: visible;
}

hr {
    visibility: hidden;
    grid-area: hr;
    height: 0.25rem;
    width: 22%;
    margin: 0;
    background: crimson;
    border: none;
    transition: .3s ease-in-out;
}