/* _-_-_- layout/SINGLE -_-_-_ */

.single--image {
    margin: 8px 0;

    img {
        width: 100%;
    }
}

.single--content {
    margin: 48px 0;

    img {
        width: 100%;
    }
    blockquote {
        text-align: center;
        font-size: 9pt;
    }
}