<a href="{{ .Permalink }}" class="no--underline black--text">

        <div class="item--content">
                <div class="">
                        <h2 class="title">{{ .Title }}</h2>
                        <div class="snippet b-l-r">
                                <p class="item--description">{{ .Description }}</p>
                                <p class="item--more">Read more…</p>
                        </div>
                    </div>
                <div class="item--image--container">
                       {{ range $el := first 1 .Params.Photos }}
                       <img src="{{ $el.image }} " alt="{{ $el.alt }} ">
                       {{ end }}
                </div>
    
        </div>
    
    </a>