<a href="{{ .Permalink }}" class="no--underline black--text">

        <div class="item--content">
                <div class="item--header">
                        <h2 class="item--title">{{ .Title }}</h2>
                        <div class="item--summary">
                                <p class="item--description">{{ .Description }}</p>
                                <p class="item--more">Read more…</p>
                        </div>
                    </div>
                <div class="item--image--container">
                        <img src="{{ .Params.Image_1.Image }}" alt="{{ .Params.Image_1.Alt }}">
                </div>
    
        </div>
    
    </a>