{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="narrow--grid article">
    <div class="container">
    <h1 class="article--title">{{.Title}}</h1>
    <div class="header--info">
        <p>{{ .Params.Author }}</p>
      <p>{{ .Date.Format "2 Jan 2006" }}</p>
    </div>
    <div class="article--summary">
      <p>{{ .Description }}</p>
      {{ if .Params.image_1 }}<img src="{{ .Params.image_1.image }}" alt="{{ .Params.image_1.alt }}" width="100%" /><blockquote>{{ .Params.image_1.description }} </blockquote> {{ end }}
      {{ if .Params.image_2 }}<img src="{{ .Params.image_2.image }}" alt="{{ .Params.image_2.alt }}" width="100%" /><blockquote>{{ .Params.image_2.description }} </blockquote> {{ end }}
      {{ if .Params.image_3 }}<img src="{{ .Params.image_3.image }}" alt="{{ .Params.image_3.alt }}" width="100%" /><blockquote>{{ .Params.image_3.description }} </blockquote> {{ end }}
      {{ if .Params.image_4 }}<img src="{{ .Params.image_4.image }}" alt="{{ .Params.image_4.alt }}" width="100%" /><blockquote>{{ .Params.image_4.description }} </blockquote> {{ end }}


      {{ .Content }}
    </div>
    </div>
  </div>
{{ partial "footer" . }}