.article {
    .article--title {
        margin: 16px 0;
    }
    
    .header--info {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .article--summary {
        font-size: 16pt;
        margin: 32px 0;
        margin-bottom: 32px;
    
        img {
            margin: 32px 0;
        }
    }

    p {
        line-height: 1.8rem;
    }
}