/* _-_-_- modules/LOGO -_-_-_ */
.pre--title__svg {
    letter-spacing: 0em;
    fill: #F44336;
    transform: scale(1, 0.7);

}
.main--title__svg {
    letter-spacing: -0.2em;
    transform: scale(1, 0.7);
}
.main--title__svg--apostrophe {
    letter-spacing: -0.02em;
}
// .main--title__svg--me {
//     letter-spacing: -0.11em;
// }
// .main--title__svg--op {
//     letter-spacing: -0.10em;
// }