/* _-_-_- modules/LOGO -_-_-_ */
.logo {
    margin-left: 0px !important;
}

.pre--title__svg {
    letter-spacing: 0em;
    fill: black;
    transform: scale(1, 0.7);

}
.main--title__svg {
    letter-spacing: -0.2em;
    transform: scale(1, 0.7);
    fill: crimson;
}
.main--title__svg--apostrophe {
    letter-spacing: -0.02em;
}

svg {
    // background-color: pink;
}