/* _-_-_- modules/LOGO -_-_-_ */
.pre--title__svg {
    letter-spacing: -0.1em;
    fill: #F44336;
}
.main--title__svg {
    letter-spacing: -0.3em;
    transform: scale(1, 1.35);
}
.main--title__svg--apostrophe {
    letter-spacing: -0.03em;
}
.main--title__svg--me {
    letter-spacing: -0.11em;
}
.main--title__svg--op {
    letter-spacing: -0.10em;
}