.photos--wrapper {
    border-top: 2px solid black;
}
.photo--card--header {
    margin: 16px 0;
}

.photo--card--image--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 64px;
    margin-bottom: 16px;
    .photo--card--image--item {
        img {
            width: 100%;
        }
    }
}

.photo--card--summary {
    width: 100%;
}

@media screen and (min-width: $column--width) {
    .photo--card--image--container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        margin-top: 64px;
        margin-bottom: 16px;
        .photo--card--image--item {
            img {
                width: 100%;
            }
        }
    }
    .photo--card--summary {
        width: 66%;
    }
}

